.navbar-collapse {
  justify-content: space-between;
}

.navbar {
  width: 100%;
  .container {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    @include media-breakpoint-up(sm) {
      justify-content: space-between;
    }
  }

  .navbar-toggler {
    background: $brand-primary;
    color: white;
    padding: 0.5rem 1rem;
  }
}

.navbar-toggleable-sm .navbar-collapse {
  @include media-breakpoint-up(sm) {
    width: auto;
  }
}




.navbar-nav {
  font-size: calc(18px + 0.25vw);

  .nav-item {
    display: flex;
    align-items: center;
  }

  .current-menu-item .nav-link {
    border-bottom: 4px solid $brand-primary;
  }

  .nav-link {
    @include media-breakpoint-down(sm) {
      text-align: center;
      width: 100%;
    }
  }
}


.btn-navbar-toggler {
  position: absolute;
  right: 0;
  top: 1.2rem;
}
