// Colors
$brand-green:         #29490f;
$brand-red:           #710a0b;
$brand-primary:       $brand-green;
$grey:                #ececec;

// border radius
$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;
